* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    display: flex;
    flex-direction: row;
}


.titulo {
    color: #0B709B;
    font-size: 46px;
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
